

<!-- create comment form -->
<div class = 'container-fluid'>
  <div>
    <h1>Create Comment</h1>
    <form class='form-group'>
      <div>
        <label for="Comment Remarks">Comments</label>
        <input class="form-control" type="text" name="remark" placeholder="New Comment" [(ngModel)]="newComment">
      </div>
      <div>
        <label for="Campsite Rating">Campsite Rating</label>
        <input class="form-control" type="text" name="campsiteRating" placeholder="New Campsite rating" [(ngModel)]="campsiteRating">
      </div>
      <button class='btn btn-success btnTop' (click)="create()">Create Comment</button>
    </form>
  </div>
</div>


<!-- update comment form -->

<div class = 'container-fluid'>
  <div>
    <h1>Update Comment</h1>
    <form class='form-group'>
      <div>
        <label for="Comment Remarks">Comments</label>
        <input class="form-control" type="text" name="remark" placeholder="Update Comment" [(ngModel)]="newComment">
      </div>
      <div>
        <label for="Campsite Rating">Campsite Rating</label>
        <input class="form-control" type="text" name="campsiteRating" placeholder="Update Campsite rating" [(ngModel)]="campsiteRating">
      </div>
      <button class='btn btn-success btnTop' (click)="create()">Update Comment</button>
    </form>
  </div>
</div>



