
<div class="card mt-5" id="form" style="width: 18rem;">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary border border-white">Log In</button>
      </div>
    </form>
  </div>
</div>
