<div class="container-fluid" id="profile">
  <div class="container">
  <div class="row">

    <div class="col" id="profile-info">
      <h3>Camper Profile</h3>
      <br>
      <h5>({USER.USERNAME)}</h5>
      <img src="{IMAGE SOURCE URL}" name="picUrl" id="profileImage"/>
      <br>
      <a href="API/PERSON/{ID}">Update Profile Information</a>
      <br>
      <br>
      <p>Name: ({PERSON.FIRSTNAME}) ({PERSON.LASTNAME})</p>
      <br>
      <p>Email: ({PERSON.EMAIL})</p>
      <br>
      <p>State: ({PERSON.STATE.STATENAME  OR "FREEBIRD" if NULL})</p>
      <br>
      <p>Info: ({PERSON.BIO})</p>

    </div>

    <div class="col" id="campsites">

       <h3>Your Created Campsites</h3>
       <br>
       <p>Get Campsites By CreatorId == PersonId</p>

    </div>

    <div class="col" id="comments">

      <h3>Your Comments</h3>
      <br>
      <p>Get Comments By Person Id</p>


    </div>


  </div>
  </div>

</div>
