<div class="container-fluid" id="profile">
  <div class="container text-center" id="myPics">
    <h3>Your Pictures</h3>
    <!-- <div *ngFor="let picture of selected.pictures"> -->
    <div *ngIf="personSelected">
    <img src="" />
    </div>
  </div>


  <div class="container">
  <div class="row">

    <div class="col" id="profile-info">
      <div *ngIf='personSelected'>
      <h3>Camper Profile</h3>
      <br>
      <h5>{{personSelected.user.username}}</h5>
      <img src={{personSelected.profileImage}} name="picUrl" id="profileImage" class="img-fluid img-thumbnail"/>
      <br>
      <p>Name: {{personSelected.firstName}} {{personSelected.lastName}}</p>
      <p>Email: {{personSelected.email}}</p>
      <p>State: {{personSelected.state}}</p> // OR "FREEBIRD" if NULL--
      <p>Bio: {{personSelected.bio}}</p>

    </div>

    <div class="col" id="campsites">
       <h3>Your Created Campsites</h3>
       <br>
       <!-- <table *ngIf="!personSelected">
         <tbody>
           <tr *ngFor="let camp of personCampsites"> -->
       <p>{{personCampsites}}</p>
      <!-- </tr>
      </tbody>
      </table> -->

    </div>

    <div class="col" id="comments">

      <h3>Your Comments</h3>
      <br>
      <p>Get Comments By Person Id</p>


    </div>


    </div>
    </div>
    <div class="container text-center" id="myOptions">
      <button class="btn-primary" value="updateProfile">Update Profile</button>
      <button class="btn-primary" value="addNewCampsite">Add a Campsite</button>
    </div>
  </div>
