<div class="container-fluid">
  <div class="container">
    <br>
    <br>
    <div class="row" id="whatIs">
      <div class="row">
        <div class="col-4">
          <img src="https://images.pexels.com/photos/1875449/pexels-photo-1875449.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Lone Camper" style="width:100%;height:100%;">
        </div>
      <div class="col-8">
        <br>
      <h3>What is dispersed camping all about?</h3>
      <p>
        Dispersed camping refers to camping on available public land, further
        away from recreational facilities and luxury amenities that campers can
        otherwise pay for on public campgrounds. It has been seeing a resurgence
        in interest from nature enthusiasts and hobbyists alike.
      </p>
      </div>
      <br />
    </div>
    <div class="row" id="Rules?">
      <div class="col-8">
        <br>
        <br>
        <br>
        <br>
        <h3>What are the rules/laws?</h3>
        <p>
          Not all public land is accessible to free camping. Some areas may
          require a fire permit, have seasonal restrictions, or prohibit camping
          altogether to protect important habitats. One federal guideline from the
          Bureau of Land Management (BLM) land is that you may only spend 14 days
          out of a calendar month in an area which could be spent consecutively or
          non-consecutively. It is best to contact nearest Ranger Station before
          setting up camp...
        </p>
        <br />
      </div>
      <div class="col-4">
        <img src="https://external-preview.redd.it/7qEoxJ5lFRHT3AUErZvoQKEPlguIBtrMtbdFH9c6LUg.jpg?auto=webp&s=1bf91a45cb6cf555f973cd740933b735d8d7bc0e" alt="Ranger" style="width:100%;height:100%;">
      </div>
    </div>
    <div class="row" id="expect">
      <div class="col-4">
        <img src="https://images.pexels.com/photos/3455103/pexels-photo-3455103.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="morningStretch" style="width:100%;height:100%;">
      </div>
      <div class="col-8">
        <br>
        <br>
        <br>
        <h3>What can be expected?</h3>
        <p>
          Each campsite will vary from the next with offering different
          “amenities.” Some dispersed camping sites offer nearby restrooms and can
          maintain decent cellular coverage… others might require more
          concessions. With our app, you can plan accordingly and pick a campsite
          that suits your desired level of comfort.
        </p>
        <br />
      </div>
    </div>
    <div class="row" id="why?">
      <div class="col-8">
        <br>
        <br>
      <h3>Why choose to disperse camp?</h3>
      <p>
        Dispersed camping is ideal for privacy, simplicity, and costs. It
        maximizes the escape that many seek when they picture camping in their
        fantasies. Why would you prepare for a weekend of roughing it, only to
        find yourself in earshot of others in public campgrounds that you pay
        for?
      </p>
      <br />
      </div>
      <div class="col-4">
        <br>
        <img src="https://images.pexels.com/photos/2516423/pexels-photo-2516423.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" style="width:100%;height:100%;">
      </div>
    </div>
    <div class="row" id="consider">
      <div class="col-6">
        <br>
        <br>
        <img src="https://images.pexels.com/photos/66090/pexels-photo-66090.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" style="width:50%;height:80%;">
        <img src="https://images.pexels.com/photos/2071549/pexels-photo-2071549.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" style="width:50%;height:80%;">
      </div>
      <div class="col-6">
        <br>
        <br>
        <br>
        <br>
      <h3>Things to consider:</h3>
      <ul>
        <li>
          Bring a paper map or know your way to the nearest ranger station.
        </li>
        <li>Understand fire rules and restrictions.</li>
        <li>
          If parking further from your setup, do not leave anything of value in
          your vehicle.
        </li>
        <li>
          Respect the campsite and clean up after yourself. Any “business” needs
          to be buried and at least 100 feet away.
        </li>
        <li>Tell others where you plan on staying and how long.</li>
        <li>Enjoy the beauty and solitude!</li>
      </ul>
    </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>




<div class="col-4">

</div>







<img src="" alt="" style="width:50%;height:75%;">

