*{
  margin-left: auto;
  margin-right: auto;

  }

#map-div {
  height: 30%;
  width: 70%;
  margin-top: 30px;

 }

img
{

}

#map
{
  height: 25em;

}

.picsum-img-wrapper > img
{
width: 100%;
margin-top: 10px;
min-height: 599px;
max-height: 600px;
}

.picsum-img-wrapper
{
  width:100%;

}

#center
{
margin: auto;
}

.comColor
{
  background-color: #2068b5 !important;
  color: #f8f8ff;
  margin-bottom: 30em;
}

.comWidth
{
  width: 40em;
}

.campBtm
{
  margin-bottom: 30em;
}

.btm
{
  margin-bottom: 4.5em;
}

/* .wrapper{
min-height: 100%;
margin-bottom: -50%;
} */

.textC
{
  background-color: #2068b5 !important;
  color:#f8f8ff !important;
}


.imgT
{
  width: 200px;
  height: 150px;
}
