*{


  margin-left: auto;
  margin-right: auto;
  }



#map-div {
  height: 30%;
  width: 60%;
  margin-top: 30px;


 }

 #logo
 {
height: 50%;
width: 50%;
 }


#map
{

  height: 25em;

}

.picsum-img-wrapper > img
{
/* height: 30em; */
width: 60%;
}

.picsum-img-wrapper
{
  width:100%;
}
