<div class='wrapper'>
  <!-- CAROUSEL AND MAP IN RELATIVE POSITION IN CONTAINER -->
  <!-- CAROUSEL -->
  <div id='box' class='container-fluid text-center'>

    <div id='carousel-container'>
      <ngb-carousel class='carousel' *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" >
          </div>
          <div class="carousel-caption">

          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide">
          </div>
          <div class="carousel-caption">

          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide">
          </div>
          <div class="carousel-caption">

          </div>
        </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[3]" alt="Random first slide" >
            </div>
            <div class="carousel-caption">

            </div>

          </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[4]" alt="Random first slide" >
              </div>
              <div class="carousel-caption">

              </div>
            </ng-template>

      </ngb-carousel>
    </div>


  <!-- MAP -->
  <div id='map-div'>
    <div #mapContainer id="map"></div>
  </div>

  </div>

  <div class='container btm'>
    <div class='row'>
      <div class='col-md-12'>
        <div class ='btn-group mt-5 mb-5' role="group">
          <!-- Show all campsite button-->
          <button class='btn btn-primary btn-outline-warning text-white mr-5' (click)='toggleCamps()'>See All Campsites</button>
          <!-- Show all comments button-->
          <!-- <button class='btn btn-info btn-outline-warning text-white mr-5' (click)='toggleAComs()' >See All Comments</button> -->
          <!-- edit comment -->
          <!-- <button class='btn btn-info btn-outline-warning text-white mr-5' (click)='toggleEComs()' >Edit A Comment</button> -->

          <!-- delete comment -->
          <!-- <button class='btn btn-danger btn-outline-warning text-white mr-5' (click)='toggleDComs()' > Delete A Comment </button> -->
          <!-- create campsite -->
          <!-- <button class='btn btn-primary btn-outline-warning text-white mr-5' (click)='toggleCCamp()' >Create Campsite</button> -->


          </div>
      </div>
    </div>
  </div>


  <!-- Show campsite table -->
  <div  class='text-center mt-5'>
    <!-- TODO ADD CAMPSITE NAME in H4 -->
    <h4>Campsite Information Page</h4>


    <!-- campsite image thumbnail gallery  -->
    <!-- <div *ngFor = 'let campsite of campsites'>
      <div class="row">
        <div class="column">
          <img src="{{campsite.pictureUrl}}" class="img-thumbnail" style="width:100%">
        </div>
      </div>
    </div> -->

    <!-- INDIVIDUAL CAMPSITE INFORMATION PRESENTATION -->
    <div *ngIf ='selected' class = 'campBtm'>
      <table class='table table-striped text-center'>
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>State</th>
            <th>Features</th>
            <th>Main Image</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{selected.name}}</td>
            <td>{{selected.location}}</td>
            <td>{{selected.longitude}}</td>
            <td>{{selected.latitude}}</td>
            <td>{{selected.state.name}}</td>

             <!-- CAMPSITE FEATURES LIST -->
            <div *ngFor = 'let feature of selected.features'>
              <td>{{feature.name}}</td>
             </div>
             <td><img [src]="selected.pictureUrl" class="img-thumbnail" style="width:100%"></td>
          </tr>
        </tbody>
      </table>
        <!-- edit campsite -->
        <button class='btn btn-info btn-outline-warning text-white mr-5' (click)='toggleECamp(selected)' >Edit Campsite</button>
        <!-- add comment -->
        <button class='btn btn-primary btn-outline-warning text-white mr-5' (click)='toggleCComs()' >Add New Comment</button>
        <!-- delete campsite -->
        <button class='btn btn-danger btn-outline-warning text-white mr-5' (click)='deleteCampsite(selected.id)' > Delete A CAMPSITE </button>



    </div>

  </div>



  <!-- create campsite form -->

  <div *ngIf='showCCamp' class = 'card container-fluid comColor' style="width: 68rem;">
    <div *ngIf = '!selected'  class ='container card-body'>
      <h1>Create Campsite</h1>
      <form class = 'form-group'>
        <div>
          <label class='mt-3' for="Campsite Name">Campsite Name</label>
          <input class="form-control mt-2" type="text" name="name" placeholder="Campsite Name" [(ngModel)]="newCampsite.name">
        </div>
        <div>
          <label class='mt-3' for="Campsite Location">Campsite Location</label>
          <textarea class="form-control mt-2" type="text" name="location" placeholder="Campsite Location" [(ngModel)]="newCampsite.location"></textarea>
        </div>
        <div>
          <label class='mt-3' for="Campsite Latitude">Campsite Latitude</label>
          <input class="form-control mt-2" type="text" name="latitude" placeholder="Campsite Latitude" [(ngModel)]="newCampsite.latitude">
        </div>
        <div>
          <label class='mt-3' for="Campsite Longitude">Campsite Longitude</label>
          <input class="form-control mt-2" type="text" name="longitude" placeholder="Campsite Longitude" [(ngModel)]="newCampsite.longitude">
        </div>
        <div>
          <label class='mt-3' for="Campsite State">Campsite State</label>
          <input class="form-control mt-2" type="text" name="state" placeholder="Campsite State" [(ngModel)]="newCampsiteState.name">
        </div>
        <div>
          <label class='mt-3' for="Campsite Features">Campsite {{newCampsiteFeatures}}</label>

            <div class= 'container'>

              <label *ngFor ='let feature of newCampsiteFeatures'          class="checkbox-inline mr-2">
                <input type="checkbox" value="feature" name= 'feature' (click) ='addFeatureToCampsite(feature)'> {{feature.name}}
              </label>



            </div>


        </div>
        <div>
          <label class='mt-3' for="Campsite Creation Default Image">Campsite Creation Default Image</label>
          <input class="form-control mt-2" type="text" name="pictureUrl" placeholder="{{newCampsite.pictureUrl}}" [(ngModel)]="newCampsite.pictureUrl">
        </div>


      </form>
      <button (click)="create(newCampsite, newCampsiteState)">Create your new Campsite !</button>

    </div>
    </div>


  <!-- update comment form -->

  <div *ngIf='showEComs' class = 'card container-fluid comColor' style="width: 68rem;">
    <div *ngIf = "!selected" class='card-body'>
      <h1>Update Comment</h1>
      <form class='form-group'>
        <div class='mt-3'>
          <label for="Comment Remarks">Comments</label>
          <textarea class="form-control mt-3 comWidth" type="text" name="remark" placeholder="{{editComment.remark}}" [(ngModel)]="editComment.remark"></textarea>
        </div>
        <div class='mt-3'>
          <label for="Campsite Rating">Campsite Rating</label>
          <input class="form-control mt-3" type="number" name="campsiteRating" placeholder="{{editComment.campsiteRating}}" [(ngModel)]="editComment.campsiteRating">
        </div>
        <div class='d-flex justify-content-center'>
          <!-- <button class='btn btn-info mt-5' (click)="create()">Update Comment</button> -->
        </div>

      </form>
    </div>
  </div>


  <!-- create comment form -->
  <div *ngIf='showCComs' class = 'card container-fluid comColor' >
    <div *ngIf = "!selected" class="card-body container">
      <h1>Create Comment</h1>
      <table class='table table-striped text-center'>
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>State</th>
            <th>Features</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{selected.name}}</td>
            <td>{{selected.location}}</td>
            <td>{{selected.longitude}}</td>
            <td>{{selected.latitude}}</td>
            <td>{{selected.state}}</td>

             <!-- CAMPSITE FEATURES LIST -->
            <div *ngFor = 'let feature of selected.features'>
              <td>{{feature}}</td>
             </div>
          </tr>
        </tbody>
      </table>
      <form class='form-group'>
        <div>
          <label class='mt-3' for="Comment Remarks">Comments</label>
          <input class="form-control mt-2" type="text" name="remark" placeholder="New Comment" [(ngModel)]="newComment.remark">
        </div>
        <div>
          <label class='mt-3' for="Campsite Rating">Campsite Rating</label>
          <input class="form-control mt-2" type="text" name="campsiteRating" placeholder="New Campsite rating" [(ngModel)]="newComment.campsiteRating">
        </div>
        <div class = 'd-flex justify-content-center'>
          <!-- <button class='btn btn-info btnTop mt-5 btnRight' (click)="create()">Create Comment</button> -->
        </div>

      </form>
    </div>
  </div>

  <!-- SHOW ALL COMMENT -->

  <div *ngIf='showAComs'>
    <table *ngIf = "!selected" class='table table-striped text-center'>
      <thead class="thead-dark">
        <tr>
          <th scope="col">COMMENTS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = 'let remark of remarks' (click)= 'onSubmit(remark)'>
          <td>{{remark}}</td>

         </tr>
      </tbody>
    </table>
  </div>







  <!-- SHOW ALL CAMPSITES -->

  <div *ngIf='showCamps' class='btm'>
    <table *ngIf = "!selected" class='table table-striped text-center'>
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
          <th scope="col">Longitude</th>
          <th scope="col">Latitude</th>
          <th scope="col">State</th>
          <th scope="col">Image</th>
          <th scope="col">Features</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = 'let campsite of campsites' (click)= 'onSubmit(campsite)'>
          <td>{{campsite.name}}</td>
          <td>{{campsite.location}}</td>
          <td>{{campsite.longitude}}</td>
          <td>{{campsite.latitude}}</td>
          <td>{{campsite.state.name}}</td>
          <td><img [src]="campsite.pictureUrl" class="img-thumbnail" style="width:100%"></td>
         <!-- CAMPSITE FEATURES LIST -->
         <td>
          <div *ngFor = 'let feature of campsite.features'>
            <td>{{feature.name}}</td>
          </div>
         </td>
         </tr>
      </tbody>
    </table>
  </div>

<!-- Edit campsite form -->

<div *ngIf='showECamp' class = 'card container-fluid comColor' style="width: 68rem;">
  <div *ngIf = '!selected'  class ='container card-body'>
    <h1>EDIT Campsite</h1>
    <form class = 'form-group'>
      <div>
        <label class='mt-3' for="Campsite Name">Campsite Name</label>
        <input class="form-control mt-2" type="text" name="name" placeholder="{{editCampsite.name}}" [(ngModel)]="editCampsite.name">
      </div>
      <div>
        <label class='mt-3' for="Campsite Location">Campsite Location</label>
        <textarea class="form-control mt-2" type="text" name="location" placeholder="{{editCampsite.location}}" [(ngModel)]="editCampsite.location"></textarea>
      </div>
      <div>
        <label class='mt-3' for="Campsite Latitude">Campsite Latitude</label>
        <input class="form-control mt-2" type="text" name="latitude" placeholder="{{editCampsite.latitude}}" [(ngModel)]="editCampsite.latitude">
      </div>
      <div>
        <label class='mt-3' for="Campsite Longitude">Campsite Longitude</label>
        <input class="form-control mt-2" type="text" name="longitude" placeholder="{{editCampsite.longitude}}" [(ngModel)]="editCampsite.longitude">
      </div>
      <div>
        <label class='mt-3' for="Campsite State">Campsite State</label>
        <input class="form-control mt-2" type="text" name="state" placeholder="{{newCampsiteState.name}}" [(ngModel)]="newCampsiteState.name">
      </div>
      <div>
        <label class='mt-3' for="Campsite Features">Campsite</label>

          <div class= 'container'>

            <label *ngFor ='let feature of newCampsiteFeatures' class="checkbox-inline mr-2">
              <input type="checkbox" value="feature" name= 'feature' (click) ='addFeatureToCampsite(feature)'> {{feature.name}}
            </label>



          </div>


      </div>
      <div>
        <label class='mt-3' for="Campsite Default Image URL">Campsite Creation Default Image</label>
        <input class="form-control mt-2" type="text" name="pictureUrl" placeholder="{{editCampsite.pictureUrl}}" [(ngModel)]="editCampsite.pictureUrl">
      </div>


    </form>

    <button class='btn btn-info btnTop mt-5 btnRight' (click)="updatePassRes(editCampsite)">Edit Campsite</button>

  </div>
  </div>














































  </div>
