*{

  margin-left: auto;
  margin-right: auto;
  }

#map-div {
  height: 30%;
  width: 60%;
  margin-top: 30px;

 }

#map
{

  height: 25em;

}

.picsum-img-wrapper > img
{
width: 60%;
margin-top: 10px;;
}

.picsum-img-wrapper
{
  width:100%;

}


